.examples {
   
    .examples-backg {
        max-width: 384px;
        width: 100%;
        background: #415167;
        position: absolute;
        left: 0;
        height: 100%;
    }  
    &__slide-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__slide-item {
        display: flex;
        max-width: 560px;
        justify-content: space-between;
        background: #FFFFFF;
        align-items: center;
        &-text {
            max-width: 283px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            align-items: flex-start;
        }
    }
}
.item-h2 {
    &::before {
        content: '99.000';
        display: flex;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #C7A17A;
    }
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #232C38;
}
.item-p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #151D28;
}
.item-ratio {
    display: flex;
    gap: 44px;
}
.swiper {

}
.swiper-button-disabled::after {
    display: none;
}